@model IEnumerable<MinLanguage.Models.VocabsSuggest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VocabsKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleSentences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VocabsKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishTranslation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExampleSentences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Key">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Key">Delete</a> |
                <a asp-action="Approve" asp-route-id="@item.Key">Approve</a>
            </td>
        </tr>
}
    </tbody>
</table>
