@model LearnLanguagesDictionaryWebsite.Models.DictionaryModel

@{
    ViewData["Title"] = "ViewDictionary";
}

<h1>ViewDictionary</h1>

<table class="table">
    <caption>@Model.LanguageName</caption>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.VocabulariesList[0].EnglishMeaning)</th>
            <th>Example Sentences</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.VocabulariesList) {
        <tr>
            <td>
                <a asp-controller="Vocabulary" asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-controller="Vocabulary" asp-action="Details" asp-route-id="@item.Key">Details</a> |
                <a asp-controller="Vocabulary" asp-action="Delete" asp-route-id="@item.Key">Delete</a>
                <p>@item.EnglishMeaning</p>
            </td>
            <td>
                @item.ExampleSentences
            </td>
        </tr>
}
    </tbody>
</table>
