@model LearnLanguagesDictionaryWebsite.Models.VocabularyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VocabularyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishMeaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishMeaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExampleSentences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExampleSentences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Key">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
