@model IEnumerable<LearnLanguagesDictionaryWebsite.Models.VocabularyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishMeaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleSentences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishMeaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExampleSentences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalNote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Key">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Key">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
