@model MinLanguage.Services.Vocabs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vocabs1234</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hanji)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hanji)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.englishTranslation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.englishTranslation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.regionUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.regionUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exampleSentences)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exampleSentences)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.wordClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.wordClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        @*<dd>
            @foreach (word => model.regionalPronunciations)
            {
            <dt>
                @Html.DisplayFor(modelItem => word.pronunciation)
            </dt>
            }

            </dd>*@
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
