@model IEnumerable<MinLanguage.Services.Vocabs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hanji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.englishTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regionUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exampleSentences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wordClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hanji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.englishTranslation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regionUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exampleSentences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wordClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
