@model MinLanguage.Models.Vocabs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vocabs1234</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishTranslation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnglishTranslation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegionUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegionUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExampleSentences)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExampleSentences)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WordClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WordClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        @for (int i = 0; i < Model.RegionalPronunciations.Count; i++)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegionalPronunciations[i].Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegionalPronunciations[i].Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegionalPronunciations[i].Pronunciation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegionalPronunciations[i].Pronunciation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegionalPronunciations[i].Hanji)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegionalPronunciations[i].Hanji)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Key">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
