@model IEnumerable<MinLanguage.Models.Vocabs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hanji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.englishTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regionUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exampleSentences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wordClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            @*@foreach (var word in model.regionalpronunciation)
        {
            }*@
            <th>
                @Html.DisplayNameFor(model => model.regionalPronunciations[0].name)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.hanji)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.englishTranslation)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.regionUsed)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.exampleSentences)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.wordClass)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>@*name of region*@
                    @foreach (var word in item.regionalPronunciations)
                    {
                        @Html.DisplayFor(modelItem => word.pronunciation)
                    }
                </td>
                <td rowspan="2">
                    <a asp-action="Edit" asp-route-id="@item.key">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.key">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.key">Delete</a>
                </td>
            </tr>
            <tr>
                <td>@*regional rponunciation*@
                    @foreach (var word in item.regionalPronunciations)
                    {
                        @Html.DisplayFor(modelItem => word.pronunciation)
                    }
                </td>
            </tr>      
        }
    </tbody>
</table>
