@model IEnumerable<MinLanguage.Models.Vocabs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishTranslation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExampleSentences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            @*@foreach (var word in model.regionalpronunciation)
        {
            }*@
            <th>
                @Html.DisplayNameFor(model => model.RegionalPronunciations[0].Name)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.EnglishTranslation)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.RegionUsed)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.ExampleSentences)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.WordClass)
                </td>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>@*name of region*@
                    @foreach (var word in item.RegionalPronunciations)
                    {
                        @Html.DisplayFor(modelItem => word.Pronunciation)
                    }
                </td>
                <td rowspan="2">
                    <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Key">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Key">Delete</a> |
                    <a asp-controller="VocabsSuggests" asp-action="SuggestChange" asp-route-id="@item.Key">Suggest</a>
                </td>
            </tr>
            <tr>
                <td>@*regional rponunciation*@
                    @foreach (var word in item.RegionalPronunciations)
                    {
                        @Html.DisplayFor(modelItem => word.Pronunciation)
                    }
                </td>
            </tr>      
        }
    </tbody>
</table>
