@model MinLanguage.Services.user

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>user</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.psswrd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.psswrd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.userID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
