<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnLanguageDictionaryWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LearnLanguageDictionaryWebsite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">

                <fieldset>

                    <h2> Language Chosen </h2>

                    <p>
                        Current Language @LearnLanguagesDictionaryWebsite.Services.LanguagesInfo.SelectedLanguage.ToString()
                    </p>

                    @*Resources on how to use Static Variable*@
                    @*https://stackoverflow.com/questions/17271827/using-static-variables-in-razor*@

                    @Html.DropDownList("LanguageList", LearnLanguagesDictionaryWebsite.Services.LanguagesInfo.GetAllLanguages
                     , new { @onchange = "CallChangeLanguage(this.value)" })

                </fieldset>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - LearnLanguageDictionaryWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        function CallChangeLanguage(value) {
            // Ajax is a way to pass information from frontend to backend
            // Is not hard at all, don't get scared by the numbers of lines it have
            console.log("Pass through function!\nValue: " + value);
            var languageSelected = { 'selectedLanguage': value };
            $.ajax({
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                type: 'POST',
                url: '/home/CategoryChosen',
                data: JSON.stringify(languageSelected),
                success: function () {
                    alert("Change Languaged");
                    // This part of the code will redirect the site to the function then redirect to the language user selected
                    var url = '@Html.Raw(Url.Action("RedirectWhenLanguageChange", "Home"))';
                    window.location = url;
                },
                error: function (e) {
                    alert( "Error Happened" + e.responsetext);
                }
            })
        };
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
