<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="container">
                
                    <fieldset>

                        <h2> Language Chosen </h2>

                        <p>
                            Current Language @LearnLanguagesWebsite.Services.LanguagesInfo.SelectedLanguage.ToString()
                        </p>

                        @*Resources on how to use Static Variable*@
                        @*https://stackoverflow.com/questions/17271827/using-static-variables-in-razor*@

                        @Html.DropDownList("LanguageList", @LearnLanguagesWebsite.Services.LanguagesInfo.GetAllLanguages
                         , new { @onchange = "CallChangeLanguage(this.value)" })

                    </fieldset>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script>
        function CallChangeLanguage(value) {
            // Ajax is a way to pass information from frontend to backend
            // Is not hard at all, don't get scared by the numbers of lines it have
            console.log("Pass through function!\nValue: " + value);
            var languageSelected = { 'selectedLanguage': value };
            $.ajax({
                contentType: "application/json;charset=utf-8",
                dataType: 'json',
                type: 'POST',
                url: '/home/CategoryChosen',
                data: JSON.stringify(languageSelected),
                success: function () {
                    alert("Change Languaged");
                    // This part of the code will redirect the site to the function then redirect to the language user selected
                    var url = '@Html.Raw(Url.Action("RedirectWhenLanguageChange", "Home"))';
                    window.location = url;
                },
                error: function (e) {
                    alert( "Error Happened" + e.responsetext);
                }
            })
        };
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
